ion-page{
  background-color: #FFF !important;
}

.label-available {
  color: var(--ion-color-success);
}

.label-complete {
  color: var(--ion-color-danger);;
}

ion-chip{
  font-weight: 600;
}

.chip-badge {
  border-radius: 50%;
  position: relative;
  z-index: 1;
  // top: -12px;
  right: -12px;
  font-size: 12px;
  width: 18px;
  height: 18px;
  margin: 0;
  --color: rgb(0, 0, 0);
  --background: rgb(201, 197, 197);
  --padding-start: 2px;
  --padding-end: 2px;
}

