<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title>{{title}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/lotery/0" mode="ios"></ion-back-button>
    </ion-buttons>
    <ion-label slot="end">
      <ion-button fill="clear"  color="success" (click)="showWinners(id)">
        <ion-icon slot="icon-only" name="cash-outline"></ion-icon>
      </ion-button>
      <ion-button  fill="clear">
        <ion-icon slot="icon-only" name="share"></ion-icon>
      </ion-button>
    </ion-label>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <ion-list *ngIf="number">
    <ion-item *ngFor="let item of number" class="shadow">
      
      <ion-text slot="start">
        {{item.number}}
      </ion-text>
      <ion-text>
        <ion-chip color="success" [ngClass]="item.available > 0 ? 'label-available' : 'label-complete'">
          {{ item.available > 0 ? 'Disponible' : 'Completo' }}
          <ion-badge class="chip-badge">{{item.available}}</ion-badge>
        </ion-chip>
      </ion-text>
      <ion-text slot="end">
        <ion-button [disabled]="item.available <= 0" fill="clear" shape="round" (click)="openModal(item.id)">
          <ion-icon slot="icon-only" name="add"></ion-icon>
        </ion-button>
        <ion-button fill="clear"  [disabled]="item.bussy <= 0" (click)="showUser(item.id)">
          <ion-icon slot="icon-only" name="list"></ion-icon>
        </ion-button>
      </ion-text>
    
    </ion-item>
  </ion-list>
</ion-content>
